body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 99, 71);
    color: #222222;
}

a {
    color: #dadcde;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav {
    background-color: #ffd602;
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 20px;
}

.nav a {
    color: #231F20;
    letter-spacing: 0.1em;
}

.nav a:hover {
    background-color: #222222;
    color: white;
}

#current {
    color: #dadcde;
    background-color: rgba(0, 0, 0, 0.4);
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: normal;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

blockquote {
    background: white;
    color: rgb(255, 99, 71);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }

.speciaal {
    background-color: #231F20;
    color: #ffd602;
}

li {
    line-height: 1.5;
}

p {
    line-height: 2;
}